@import "../../custom_theme/colors";

.ant-table-pagination.ant-pagination {
  margin: 16px;
}

.ant-table-thead > tr > th {
  background: $TABLE_HEADER;
}

table > thead {
  border-bottom: 2px solid $ORANGE;
}

tbody > tr {
  cursor: pointer;
}

.rowNoMargin .ant-form-item {
  margin-bottom: 0;
}
