.ant-tabs-ink-bar {
   background-color: transparent;
}

.ant-tabs-top-bar {
   border: none;
}

.card-header {
   width: 100%; 
   text-align: center;
   padding: 24px;
   background-color: rgba(0, 0, 0, 0.02);
   box-shadow: 0 2px 10px -5px lightgrey;
   /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
}

.card-header-logo {
   width: 200px;
   height: 200px;
}

.card-header-title {
   margin: 16px 0 0 0;
   color: rgba(0, 0, 0, 0.85);
}