@import "../../custom_theme/colors";

.layoutHeader {
  background: #fff;
  padding: 0 16px;
  box-shadow: 0 1px 1px lightgrey;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding-top: 16px;
}

.headerActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLeft, .headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drawerToggler {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.drawerSubtitle {
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.drawerTitle {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  font-size: 16px;
}

.drawerItem {
  border: none;
  box-shadow: none;
  padding: 0;
}

.search-input {
  width: 250px;
  border: 0;
  outline-width: 0;
  outline: 0;
}

input.search-input:focus {
  outline-width: 0;
  outline: 0;
}

.sideMenu {
  border-right: 1px solid #e8e8e8;
}

.ant-menu-inline {
  border: none !important;
}

.ant-menu-item:hover {
  background: $ORANGE_LIGHT;
  border-right: 3px solid $ORANGE;
  color: $ORANGE;
}