@import '../../custom_theme/_colors.scss';

.visitorCardWrapper {
    box-shadow: 0 1px 15px #00000012;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 24px;
    text-align: center;
  }
  .customBadge {
    background-color: $PRIMARY;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
  }
  
  .customBadge > div {
    background-color: white;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    color: $PRIMARY;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .visitorCardWrapperCompact {
    box-shadow: 0 1px 15px #00000012;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 24px;
  }
  
  .cardText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
  }
  
  .badgeWhite {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
  }
  
  .badgeBlue { background-color: $BLUE; }
  .badgeYellow { background-color: $YELLOW; }
  .badgeGreen { background-color: $GREEN; }
  