@import "../../custom_theme/colors";


.employeeDetails {
    margin-top: 16px;
}

.edLabel {
    font-weight: 600;
    font-size: 1.1em;
    color: $PRIMARY_TEXT;
}

.edTitle {
    // font-weight: 600;
    color: $SECONDARY_TEXT;
}
