.salon-setup {
  background-color: rgba(0,0,0,0.86);
}

.salon-setup-form {
  padding: 40px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.salon-setup-form .ant-form-item {
  display: flex;
}

.salon-setup-form .ant-form-item-control-wrapper {
  flex: 1;
}