@import "../../custom_theme/colors";

.visitorsActionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 0;
  box-shadow: 0 1px 15px #00000012;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.visitorSectionTitle {
  margin-bottom: 0;
  margin-top: 48px;
}