@import '../../custom_theme/_colors.scss';

.appSearchBar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
}

.appSearchBarInput {
    border-radius: '0';
    border: none;
    background-color: transparent;
}