@import '../../custom_theme/_colors.scss';

.appDefaultButton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
}

.appDefaultButton:hover,
.appDefaultButton:focus {
    cursor: pointer;
    box-shadow: 0 0 5px 0 grey;
    color: $ORANGE;
}
.appDefaultButtonInputWrapper {
    width: 30px;
    height: 100%;
}

.appDefaultButtonTextWrapper {
    flex-grow: 1;
    margin-left: -30px;
    height: 100%;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.appDefaultButtonText {
    font-size: 12px;
    line-height: 100%
}
