.email-verification {
  background-color: rgba(0,0,0,0.86);
}

.signet{
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.logo-container {
  height: 200px;
  width: auto;
}

.text-content {
  font-size: 20px;
}

.email-verification-card {
  width: 500px;
  height: 400px;
  text-align: "center";
  font-size: 16px;
  border-radius: 20px;
}