@import "./custom_theme/colors";

:root {
  --fullwidth: 100%;
}

@font-face {
  font-family: "Omnes Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Omnes Regular"), local("OmnesRegular"), url("./assets/fonts/omnes-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Blogger Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Blogger Sans"), local("BloggerSans"), url("./assets/fonts/Blogger\ Sans-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Blogger Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mainViewContainer {
  padding: 24px;
}

.mainViewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.mainViewHeader > h1 {
  margin-bottom: 0 !important;
  text-transform: uppercase;
}

// content wrapper for different components
.contentWrapper {
  margin-bottom: 24px;
  background: #fff;
  padding: 16px;
}

// shadow for cards across the app
.shadowLight {
  box-shadow: 0 1px 15px #00000012;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

// generic profile section staff/visitor etc
.personalInfoWrapper {
  display: flex;
  flex-direction: row;
}

// generic user profile image
.userImage {
  height: 250px;
  width: auto;
  margin-right: 16px;
}

// generic secondary title 
.secondaryTitle {
  font-weight: 100 !important;
}

// generic user info container 
.userInfoContainer {
  margin-left: 48px
}

// usually to apply on antd 
// default typography components
.noMargin {
  margin: 0 !important;
}

// generic profile image card
// container styles
.profileImagePreviewCard > .ant-card-body {
  margin: 0 !important;
  padding: 0 !important;
}