.login-form-forgot {
   float: right;
}

.login-form-remember {
   float: left;
}

.login-form-button {
   width: 100%;
}

.login-form-item {
   margin-bottom: 16px;
}

.login-form-input-icon {
   color: rgba(0,0,0,.25);
}